{% extends 'CgNetwork/base.html' %}

{% block content %}
    <main>
        <section class="gallery">
          {% if companies|length > 0 %}
            {% for company in companies %}
                <div class="company-card">
                    <div class="company-logo">
                        <a href="{% url 'artist-company' company.id %}">
                            <img src="/media/{{ company.logo }}" alt="NO IMAGE CHOSEN">
                        </a>
                    </div>

                    <div class="company-content">
                        <h1>{{ company.company_name | upper}}</h1>
                        <div class="company-location">
                            <h2>{{ company.user.country | upper }}</h2>
                            <h3>{{ company.user.city }}</h3>
                        </div>
                        <p>{{ company.description |slice:":150"}}...</p>
                    </div>
                </div>
            {% endfor %}
          {% else %}
            <h1>There is no registered company yet...</h1>
          {% endif %}
        </section>
    </main>
{% endblock %}
