{% extends 'CgNetwork/base.html' %}

{% block content %}
<main>
    <section class="container-profile">
        <div class="identity">
            <img src="/media/{{ identity.logo }}" alt="NO IMAGE CHOSEN" style="height:200px">
            <br>
            <h1>{{ identity.company_name |upper }}</h1>
            <br>
            <a href="https://{{ urls.website }}" target="_blank">{{ urls.website }}</a>
            <br>
            <h3>About us...</h3>
            <p>{{ identity.description }}</p>
        </div>

        <div class="company-info">
            <div class="coordonates-list">
                <h1>Coordonates</h1>
                <br>
                <ul>
                    {% for label, coord in coordonates.items %}
                        <li>{{ label | upper }}<div>{{ coord }}</div></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="sectors-list">
                <h1>Sectors</h1>
                <br>
                <ul>
                    {% for label, sector in sectors.items %}
                        <li class="{{ label }}">{{ label | upper }}<div class="{{ sector }}"></div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
