{% extends 'CgNetwork/base.html' %}

{% block content %}
    <main>
        <section class="gallery">
          {% if jobs|length > 0 %}
            {% for job in jobs %}
                <div class="company-card">
                    <div class="company-logo">
                        <a href="{% url 'artist-job' job.id %}">
                            <img src="/media/{{ job.logo }}" alt="NO IMAGE CHOSEN">
                        </a>
                    </div>

                    <div class="company-content">
                        <h1>{{ job.title | upper}}</h1>
                        <h2>{{ job.company_name | upper}}</h2>
                        <p>{{ job.description |slice:":150"}}...</p>
                    </div>
                </div>
            {% endfor %}
          {% else %}
            <h1>There is no registered job yet...</h1>
          {% endif %}
        </section>

        {% if jobs.has_other_pages %}
            <ul class="pagination">
                {% if jobs.has_previous %}
                    <li><a href="?page={{ jobs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in jobs.paginator.page_range %}
                {% if jobs.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if jobs.has_next %}
                    <li><a href="?page={{ jobs.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
