{% extends 'CgNetwork/base.html' %}

{% block content %}
    <main>
        <section class="container-profile">

            <div class="identity">
                <img src="/media/{{ identity.avatar }}" alt="NO IMAGE CHOSEN" style="height:200px">
                <br>
                <h1>{{ identity.first_name }} {{ identity.last_name }}</h1>
                <br>
                <h2>{{ identity.title }}</h2>
                <br>
                <h3>About me...</h3>
                <p>{{ identity.description }}</p>
            </div>

            <a class="edit-btn" href="{% url 'artist-profile-edit' %}">EDIT MODE</a>

            <div class ="row-info">
                <div class="coordonates">
                    <h1>Coordonates</h1>
                    <br>
                    <ul class="coordonates-list">
                        {% for label, coord in coordonates.items %}
                            <li class="{{ label }}">{{ label | upper }}<div class="{{ coord }}">{{ coord }}</div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sectors">
                    <h1>Sectors</h1>
                    <br>
                    <ul class="sectors-list">
                        {% for label, sector in sectors.items %}
                            <li class="{{ label }}">{{ label | upper }}<div class="{{ sector }}"></div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="contract-types">
                    <h1>Contract types</h1>
                    <br>
                    <ul class="contracts-types-list">
                        {% for label, contract in contracts.items %}
                            <li class="{{ label }}">{{ label | upper }}<div class="{{ contract }}"></div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="urls">
                    <h1>urls</h1>
                    <br>
                    <ul class="urls-list">
                        {% for label, url in urls.items %}
                            <li class="{{ label }}">{{ label | upper }}<div class="{{ url }}">{{ url }}</div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="skills">
                <h1>skills</h1>
                <br>
                <ul class="skills-list">
                    {% for label, skill in artistic_skills.items %}
                        <li class="{{ label }}">{{ label | upper }}<div class="level"><div class="{{ skill }}"></div></div></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="softwares">
                <h1>Softwares</h1>
                <br>
                <ul class="softwares-list">
                    {% for label, software in softwares.items %}
                        <li class="{{ label }}">{{ label | upper }}<div class="level"><div class="{{ software }}"></div></div></li>
                    {% endfor %}
                </ul>
            </div>

        </section>
        </main>
{% endblock %}
