{% extends 'CgNetwork/base.html' %}

{% block content %}
<main>
    <div class="container-profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>identity</h1>
            {{ JobForm.as_p }}
            <h1>coordonates</h1>
            {{ JobArtisticSkillForm.as_p }}
            <h1>contract type</h1>
            {{ JobSoftwareForm.as_p }}
            {{ errors }}
            <input type="submit" value="save job">
        </form>
    </div>
</main>
{% endblock %}
