{% extends 'CgNetwork/base.html' %}

{% block content %}
<main>
    <section class="container-profile">
        <img src="/media/{{ identity.logo }}" alt="NO IMAGE CHOSEN" style="height:200px">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>identity</h1>
            {{ CompanyIdentityForm.as_p }}
            <h1>coordonates</h1>
            {{ CompanyCoordonatesForm.as_p }}
            <h1>urls</h1>
            {{ CompanySectorForm.as_p }}
            <h1>urls</h1>
            {{ CompanyUrlForm.as_p }}
            {{ errors }}
            <input type="submit" value="save profile">
        </form>
    </section>
</main>
{% endblock %}