{% extends 'cgnetwork/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cgnetwork/components/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration/password_reset_form.css' %}">
{% endblock %}

{% block content %}
<section class="form-container">
    <h2>Votre mot de passe a été changé</h2>
    <p>Votre mot de passe a été changé avec succès ! Vous pouvez maintenant vous <a href="{% url 'login' %}">connecter</a>.</p>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}