{% extends 'cgnetwork/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cgnetwork/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/registration/password_reset_form.css' %}">
{% endblock %}

{% block content %}
<section class="form-container">
    <h2>Réinitialiser votre mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Réinitialiser</button>
    </form>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}