.software-section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.software-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 5%;
}

.software-element {
  flex: 0 0 200px;
  margin-bottom: 3%;
}

