.contract-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contract-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contract-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #d30e5a;
    margin-bottom: 20px;
    width: 35vw;
}
