.level-bar {
  height: 20px;
  background-color: #eee;
/*  border-radius: 10px;
  position: relative;*/
}

.level-bar-inner {
  height: 100%;
  background-color: #4CAF50;
/*  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;*/
}

.level-bar-tick {
  height: 10px;
  width: 2px;
  background-color: #999;
  position: absolute;
  top: 5px;
}

.level-bar-tick:nth-child(2) {
  left: calc(100%/6);
}

.level-bar-tick:nth-child(3) {
  left: calc(100%/6*2);
}

.level-bar-tick:nth-child(4) {
  left: calc(100%/6*3);
}

.level-bar-tick:nth-child(5) {
  left: calc(100%/6*4);
}

.level-bar-tick:nth-child(6) {
  left: calc(100%/6*5);
}
