.coordinate-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coordinate-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.coordinate-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vh;
    border-bottom: 2px solid #d30e5a;
    margin-bottom: 20px;
}
