.navbar-vertical {
    background-color: transparent;
    padding-left: 50px;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 50vh;
    transform: translateY(-50%);
}

.navbar-vertical li {
  margin-bottom: 20px;
}

.scroll-link:active {
  color: #000000;
}
