.navbar-vertical {
  background-color: transparent;

  padding-left: 50px;
  z-index: 4;
  position: fixed;
  top: 40%;
  left: 0;
}


.navbar-vertical li {
  list-style: none;

  margin-bottom: 20px;
}

.scroll-link:active {
  color: #000000;
}
