 <div class="card">
    <div class="avatar">
        <a href="{% url 'artist-company' user.id %}">
            <img src="/media/{{ user.avatar }}" alt="NO IMAGE CHOSEN">
        </a>
    </div>
    <div class="content">
        <h1>{{ user.first_name | upper}} {{ user.last_name | upper}}</h1>
        <h1>{{ user.title}}</h1>
        <div class="company-location">
            <h2>{{ user.country | upper }} - {{ user.city }}</h2>
        </div>
        <p>{{ user.description | slice:"0:250"}}...</p>
    </div>
</div>