{% load custom_filters %}

<h1>{{ title | capfirst }}s</h1>
<ul class="{{ title }}-container">
    {% for label, soft in objects.software.items %}
        {% if soft != 'Never practiced' %}
            <li class="{{ title }}-element">
                <p>{{ label | capfirst | underscore_to_space }}</p>
                <div class="level-bar-out">
                    <div class="{{ soft | lower |  remove_spaces }}"</div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
