 <div class="card">
    <div class="avatar">
        {% if role == 'artist' %}
        <a href="{% url 'artist-company' object.user_id %}">
            <img src="/media/{{ object.avatar }}" alt="NO IMAGE CHOSEN">
        </a>
        {% else %}
        <a href="{% url 'company-company' object.user_id %}">
            <img src="/media/{{ object.avatar }}" alt="NO IMAGE CHOSEN">
        </a>
        {% endif %}
    </div>

    <div class="content">
        <h1>{{ object.company_name | upper}}</h1>
        <h1>{{ object.title}}</h1>
        <div class="company-location">
            <h2>{{ object.country | upper }} - {{ object.city }}</h2>
        </div>
        <p>{{ object.description | slice:"0:250"}}...</p>
    </div>
</div>