{% load custom_filters %}

<h1>{{ title | capfirst }}</h1>
<br>
<br>
<img src="/media/{{ objects.identity.avatar }}" alt="NO IMAGE CHOSEN" style="height:200px">
<ul class="{{ title }}-container">
    {% for label, iden in objects.identity.items %}
    {% if label != 'avatar' and label != 'description' %}
        <li class="{{ title }}-element">
            <h3>{{ label | capfirst | underscore_to_space }}</h3>
            <p>{{ iden }}</p>
        </li>
    {% endif %}
    {% endfor %}
</ul>
<h3>About us...</h3>
<p>{{ objects.identity.description }}</p>