{% extends 'CgNetwork/base.html' %}

{% block content %}
    <main>
        <section class="gallery">
          {% if artists|length > 0 %}
            {% for artist in artists %}
                <div class="company-card">
                    <div class="company-logo">
                        <a href="{% url 'company-artist' artist.id %}">
                            <img src="/media/{{ artist.avatar }}" alt="NO IMAGE CHOSEN">
                        </a>
                    </div>

                    <div class="company-content">
                        <h1>{{ artist.first_name | upper}} {{ artist.last_name | upper}}</h1>
                        <div class="company-location">
                            <h2>{{ artist.user.country | upper }}</h2>
                            <h3>{{ artist.user.city }}</h3>
                        </div>
                        <p>{{ artist.description | slice:"0:150"}}...</p>
                    </div>
                </div>
            {% endfor %}
          {% else %}
            <h1>There is no registered artist yet...</h1>
          {% endif %}
        </section>
    </main>
{% endblock %}

