{% extends 'CgNetwork/base.html' %}

{% block content %}
{% block content %}
  {% if all_user_profile|length > 0 %}
  <table>
    <tbody>
    {% for profile in all_user_profile %}
      <tr>
        <td>{{ profile.id }}</td>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td>{{ profile.user.email }}</td>
        <td>{{ profile.user.phone_number }}</td>
        <td>{{ profile.user.city }}</td>
        <td>{{ profile.user.state }}</td>
        <td>{{ profile.user.zip_code }}</td>
        <td>{{ profile.user.country }}</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <span>No data.</span>
  {% endif %}
{% endblock %}{% endblock %}
