{% extends 'CgNetwork/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/artist/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/common/components/base_profile_components.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/identity.css' %}">
<link rel="stylesheet" href="{% static 'css/common/components/coordinate.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/administrative.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/mobility.css' %}">
<link rel="stylesheet" href="{% static 'css/common/components/socialmedia.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/contract.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/sector.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/competence.css' %}">
<link rel="stylesheet" href="{% static 'css/artist/components/software.css' %}">
<link rel="stylesheet" href="{% static 'css/common/components/level_bar.css' %}">
<link rel="stylesheet" href="{% static 'css/common/components/toggle_switch.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="profile-container">
        {% for section_name, path_template in templates_models.items %}
        <section class="{{ section_name | lower }}-section" id="{{ section_name | lower }}-section">
            {% include path_template with title=section_name objects=objects %}
        </section>
        {% endfor %}
    </section>
</main>
{% endblock %}

{% block javascript %}
{% endblock %}