{% extends 'CgNetwork/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artist/components/level-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist/components/toggle-switch.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="container-profile">
            <section class="container-profile">{% include 'artist/components/identity.html' %}</section>

            <a class="edit-btn" href="{% url 'artist-profile-edit' %}">EDIT MODE</a>

            <section class="identity">{% include 'artist/components/coordinate.html' %}</section>
            <section class="contract">{% include 'artist/components/contract.html' %}</section>
            <section class="sector">{% include 'artist/components/sector.html' %}</section>
            <section class="social-media">{% include 'artist/components/socialMedia.html' %}</section>
            <section class="competence">{% include 'artist/components/competence.html' %}</section>
            <section class="software">{% include 'artist/components/software.html' %}</section>

            {% include 'artist/components/level-bar.html' %}
            <br>
            {% include 'artist/components/toggle-switch.html' %}
        </section>



    </main>
{% endblock %}
