<nav>
    <a class="nav-brand" href="/">CG Network</a>
    {% if not request.user.is_authenticated %}
    <div class="nav-links">
        <a class="nav-link" href="/register">register</a>
        <a class="nav-link" href="/login">Login</a>
    </div>
    {% else %}
        {% if role == 'artist' %}
            <p class="nav-welcome" style="display:inline">Welcome {{ objects.identity.first_name }}</p>
            <div class="nav-links">
                <a class="nav-link" href="{% url 'artist-profile' %}">Profile</a>
                <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
                <a class="nav-link" href="{% url 'artist-artists-gallery' %}">Artists</a>
                <a class="nav-link" href="{% url 'artist-companies-gallery' %}">Companies</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        {% endif %}
        {% if role == 'company' %}
            <p class="nav-welcome" style="display:inline">Welcome {{ objects.identity.company_name }}</p>
            <div class="nav-links">
                <a class="nav-link" href="{% url 'company-profile' %}">Profile</a>
                <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
                <a class="nav-link" href="{% url 'company-artists-gallery' %}">Artists</a>
                <a class="nav-link" href="{% url 'company-companies-gallery' %}">Companies</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        {% endif %}
    {% endif %}
</nav>