{% extends 'CgNetwork/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <main>
        <section class="container-profile">
            <div class="{{ objects.job.title }}">
                <h1>{{ objects.job.title | capfirst }}</h1>
                <br>
                <ul class="{{ objects.job.title }}s-list">
                    {% for label, url in objects.job.items %}
                        <li class="{{ label }}">{{ label | upper }}<div class="{{ url }}">{{ url }}</div></li>
                    {% endfor %}
                    {% for label, value in objects.company.items %}
                        <li class="{{ label }}">{{ label | upper }}<div class="{{ value }}">{{ value }}</div></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}
