.fixed-nav {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nav-brand {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    margin-left: 20px;
}

@media (min-width: 769px) { /* PC */
  .nav-brand {
    font-size: 50px;
  }
}
@media (min-width: 481px) and (max-width: 768px) { /* TABLETTE */
  .nav-brand {
    font-size: 30px;
  }
}
@media (max-width: 480px) { /* SMARTPHONE */
  .nav-brand {
    font-size: 16px;
  }
}


.nav-link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    margin-right: 20px;
}
@media (min-width: 769px) { /* PC */
  .nav-link {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 768px) { /* TABLETTE */
  .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 480px) { /* SMARTPHONE */
  .nav-link {
    font-size: 12px;
  }
}

.nav-link::before {
    content: '';
    background-color: #d30e5a;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
}

.nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
