@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,900&display=swap');
@import "reset.css";

body {
    background-color: #313439;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    width: 100%;
    height: 10vh;
    background-color: #2d3035;
    position: sticky;
    top: 0;
}
main {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    width: 100%;
    height: 5vh;
    background-color: #2d3035;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.container-profile,
.jobs-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
/* NAVBAR */
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-brand {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 900;
    margin-left: 20px;
}
.nav-link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;
}
p.nav-welcome {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
}

/* PRIMITIVES */
h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
}
h2 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
li {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
p {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/* REGISTER - LOGIN */
.form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.row-form {
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
}
/* SIGNUP */
.signup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-btns {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.register-btn {
    width: 100px;
    padding: 10px;
    background-color: #313439;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.login-btn {
    width: 100px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #292a2f;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
label {
    color: #d30e5a;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    margin-top: 40px;
}
.register,
.login {
    width: 25%;
    height: 50%;
    margin: 10% auto;
}
select {
    width: 100%;
    border-bottom: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    -webkit-appearance: listbox !important;
}
select:focus {
    outline: none;
}
option {
    color: #fff;
    background-color: #1c1b20;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
input {
    width: 100%;
    border-bottom: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
input:focus {
    outline: none;
}
input[type="checkbox"]:checked {
    accent-color: #d30e5a;
}
.helptext {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-top: 5px;

    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
label:hover + .helptext {
  visibility: visible;
  opacity: 1;
  height: auto;
}
input[type = submit],
.edit-btn {
    height: 50px;
    padding: 10px;
    border: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0 50px 0;
}
input[type = submit]:hover,
.edit-btn:hover {
    background-color: #d30e5a;
    transition: background 1s;
}
/* ARTIST - PROFILE */
.identity img {border-radius: 50%;}
.identity {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto 5% auto;
    text-align: justify;
    text-justify: inter-word;
}
/* FIRST ROW */
.row-info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 5% 0 5%;
}
.coordonates-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 3% 0;
}
.sectors-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 3% 0;
}
.contracts-types-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 3% 0;
}
.urls-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 3% 0;
}
.True {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: #d30e5a;
}
.False {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: #2d3035;
}
/* SKILLS */
.skills {
    width: 90%;
    margin: 5% 5% 0 5%;
}
.skills h1 {
    text-align: center;
}
.skills > ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.skills-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5% 3% 5%;
}
.level {
    width: 82%;
    height: 5px;
    background-color: #2d3035;
}
.Never {
    width: 0%;
    height: 5px;
    background-color: #d30e5a;
}
.Novice {
    width: 16%;
    height: 5px;
    background-color: #d30e5a;
}
.Advanced {
    width: 32%;
    height: 5px;
    background-color: #d30e5a;
}
.Competent {
    width: 48%;
    height: 5px;
    background-color: #d30e5a;
}
.Proficient {
    width: 64%;
    height: 5px;
    background-color: #d30e5a;
}
.Expert {
    width: 82%;
    height: 5px;
    background-color: #d30e5a;
}
/* SOFTWARES */
.softwares {
    width: 90%;
    margin: 5% 5% 0 5%;
}
.softwares h1 {
    text-align: center;
}
.softwares > ul,
.softwares-form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.softwares-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5% 3% 5%;
}
/* GALLERY COMPANY */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    align-items: center;
    margin-top: 5%;
}
.company-card {
    width: 400px;
    height: 500px;
    background-color: #2d3035;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company-logo {
    display: flex;
    justify-content: center;
}
.company-card img {
    height: 200px;
    margin-top: 10%;
    border-radius: 10%;
}
.company-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}
.company-location {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-card a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
}
.company-card a:hover {
    color: #d30e5a;
    transition: color 1s;
}
.company-card p {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: justify;
    text-justify: inter-word;
}
.identity a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
}
.identity a:hover {
    color: #d30e5a;
    transition: color 1s;
}
.company-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

form > div > ul > div:not([class]) {
    margin: 10%;
}
textarea {
    background-color: #2d3035;
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.identity-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.identity-form > div {
    width: 100%;
}
.identity-form > div > textarea {
    width: 100%;
}
.job-card {
    width: 600px;
    height: 200px;
    background-color: #2d3035;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.job-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.job-card-content > p {
    text-align: left;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
}