.form-container {
    width: 25%;
    height: auto;
    position: relative;
}

label {
    color: #d30e5a;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    margin-top: 40px;
}

select {
    width: 100%;
    border-bottom: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    -webkit-appearance: listbox !important;
}

select:focus {
    outline: none;
}

option {
    color: #fff;
    background-color: #1c1b20;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

input {
    width: 100%;
    border-bottom: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

input:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    accent-color: #d30e5a;
}

input[type = submit] {
    height: 50px;
    padding: 10px;
    border: 1px solid #d30e5a;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0 50px 0;
}

input[type = submit]:hover {
    background-color: #d30e5a;
    transition: background 1s;
}

.helptext {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-top: 5px;
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: opacity 0.5s linear;
}

label:hover + .helptext {
    opacity: 1;
}