.card {
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    background-color: #2d3035;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.avatar {
    width: 250px;
    max-width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    min-width: 250px;
    height: 100%;
    object-fit: fill;
    transition: all 0.3s ease;
}

.avatar:hover img {
    transform: scale(1.1);
}

.content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    color: #fff;
    text-align: left;
}

p {
    font-size: 14px;
    color: #999;
    text-align: justify;
    line-height: 1;
    margin: 5px 0;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

h2, h3 {
    margin: 0;
    font-weight: normal;
    text-align: justify;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
    color: #ccc;
}


@media (min-width: 769px) { /* PC */
    .card {
        width: 700px;
    }
    .avatar {
        width: 250px;
    }
    .content {
        width: 450px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) { /* TABLETTE */
    .card {
        width: 100%;
    }
    .avatar {
        width: 100px;
    }
    .content {
        width: 80%;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}

@media (max-width: 480px) { /* SMARTPHONE */
    .card {
        width: 100%;
    }
    .avatar {
        width: 70px;
    }
    .content {
        width: calc(100% - 80px);
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 10px;
    }
}
