{% extends 'CgNetwork/base.html' %}

{% block content %}
    <main>
        <section class="jobs-list">

            <a href="{% url 'company-job-create' %}" class="edit-btn">CREATE NEW JOB</a>

            {% if jobs|length > 0 %}
                {% for job in jobs %}
                    <div class="job-card">
                        <a href="{% url 'artist-job' job.id %}">
                        <img src="/media/{{ job.logo }}" alt="NO IMAGE CHOSEN" style="height:200px">
                        </a>
                        <div class="job-card-content">
                            <h2>{{ job.title | upper }}</h2>
                            <p>{{ job.description | slice:"0:150" }}</p>
                            <a href="{% url 'company-job-delete' job.id %}" class="edit-btn">DELETE</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

          {% else %}
            <h1>There is no registered job yet...</h1>
          {% endif %}
        </section>
    </main>
{% endblock %}