{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Cg Network</title>
		<link rel="stylesheet" href="{% static 'css/cgnetwork/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/cgnetwork/components/navbar.css' %}">
		{% block extra_css %}{% endblock %}
	</head>

	<body>
		<header>
			{% include "cgnetwork/components/navbar.html" %}
		</header>

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer>
			{% include "cgnetwork/components/footer.html" %}
		</footer>
		{% block javascript %}{% endblock %}
	</body>

</html>
