{% extends 'CgNetwork/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cgnetwork/components/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cgnetwork/components/signinSignup.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="signin-signup">
            <h1>CG Network</h1>
            <br>
            <h2>The network designed for digital artists and studios.</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <div class="signup-btns">
                <a class="register-btn" href="{% url 'register' %}">Register</a>
                <a class="login-btn" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </main>
{% endblock %}
